<div id="calabash-reporte" class="container col-12 mt-5" style="display:none">
    <div class="card ">
        <div class="card-header">
            Calabash Reporte
        </div>
        <div class="card-body">
            <div class="form-group mt-4">
                <button type="button" class="btn btn-primary" id="ejecutarCalabash">Generar reporte</button>
            </div>
            <div class="form-group mt-4">
                <table class="table border" id="tabla-calabash">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>Caso de prueba</th>
                            <th>Mutante (Apk)</th>
                            <th>Tipo</th>
                            <th>Error</th>
                            <th>Fecha / Hora</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
