<div id="contenido-calabash" class="container mt-5 " style="display:none">
    <div class="card">
        <div class="card-header">
            Calabash Testing
        </div>
        <div class="card-body">
            <div class="form-group mt-4">
                <button type="button" class="btn btn-primary" id="ejecutarCalabash">Ejecutar</button>
                <button type="button" class="btn btn-success" id="agregarPermiso">Agregar permisos INTERNET</button>
            </div>
        </div>
    </div>
</div>