<div id="calabash-reporte" class="container col-12 mt-5" style="display:">
    <div class="card ">
        <div class="card-header">
            Calabash Reporte
        </div>
        <div class="card-body">
            <div class="form-group mt-4">
                <button type="button" class="btn btn-primary" id="reporteCalabash">Generar reporte</button>
            </div>

            <div class="form-group ">
                <div class="row">
                    <div class="col-4  mb-4">
                        <label for="exampleInputEmail1">Casos de prueba</label>
                        <input type="text" class="form-control" id="ruta" aria-describedby="ruta" value="Aleatorios random monkey" disabled>
                    </div>
                    <div class="col-4  mb-4">
                        <label for="exampleInputEmail1">Total apks probadas</label>
                        <input type="text" class="form-control" id="totalRandom" aria-describedby="ruta" value="1504" disabled>
                    </div>
                    <div class="col-4  mb-4">
                        <label for="exampleInputEmail1">Total errores detectados</label>
                        <input type="text" class="form-control" id="totalCalabash" aria-describedby="ruta" value="" disabled>
                    </div>
                </div>
                <table class="table " id="tabla-calabash-reporte">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th style="width: 200px">Caso de prueba</th>
                            <th>Mutante (Apk)</th>
                            <th>Error</th>
                            <th>Archivo</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
