<div id="vrt-reporte" class="container mt-5 " style="display:none">
    <div class="card">
        <div class="card-header">
            VRT ResembleJS - Reporte
        </div>
        <div class="card-body">
            <div class="form-group mt-4">
                <button type="button" class="btn btn-primary" id="ejecutarCalabash">Generar reporte</button>
            </div>
            <hr>
            <div class="form-group mt-4">
                <table class="table">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>Caso de prueba</th>
                            <th>Mutante (Apk)</th>
                            <th>Tipo</th>
                            <th>Error</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>