<!doctype html>
{% load staticfiles %}
{% load static %}
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>Herramienta parcial</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{% static "images/favicon.ico" %}">
    <link rel="stylesheet" href="{% static "css/boostrap.css" %} ">
    <link rel="stylesheet" href="{% static "css/icons.css" %} ">
    <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %} ">
    <link rel="stylesheet" href="{% static "css/toastr.min.css" %} ">

    {% block scripts %}
    <script src="https://maps.google.com/maps/api/js?key=AIzaSyBweDD_lz9uuu9XvGJOrnVLNCVwHOJekiQ&v=3.0"></script>
    <script type="text/javascript" src="{% static "js/jquery.js" %} "></script>
    <script type="text/javascript" src="{% static "js/boostrap.js" %}"></script>
    <script type="text/javascript" src="{% static "js/sweetalert.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/toastr.min.js" %}"></script>
    <script type="text/javascript" src="{% static "parcial.js" %}"></script>
    {% endblock %}
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><i class="fa fa-home"></i> Inicio</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#"> Estrategia de pruebas </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Pruebas disponibles
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" id="btn-random" href="#">Random</a>
          <a class="dropdown-item" id="btn-calabash" href="#">BDT / Calabash</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" id="btn-vrt" href="#">VRT </a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
    </form>
  </div>
</nav>

<!--- Contenido -->
{% include  'html/random.html' %}
{% include  'html/calabash.html' %}
{% include  'html/vrt.html' %}


</body>
</html>
